<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<div style="text-align:center">
  <input #number type="number"  id="real_number" ng-required="true" style="width: 280px">
  <button (click)="addNumber(number)">Agregar</button>
  <p>
      <button (click)="reset(number)">Reset</button>
      <button (click)="addNumber(number)">Calcular media</button>
      <button (click)="addNumber(number)">Calcular desviación estándar</button>
  </p>
</div>
<div style="text-align:center">

</div>
<h3>
  <table>
    <tr>
      <td *ngFor="let n of numeros" style="text-align:center">
          {{ n }}
      </td>
    <tr>
  </table>
</h3>