<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input #number type="number"  id="real_number" ng-required="true">
  <button (click)="addNumber(number)">Agregar</button>
  <p>
      <button (click)="reset()">Reset</button>
      <button (click)="addNumber(number)">Calcular media</button>
      <button (click)="addNumber(number)">Calcular desviación estándar</button>
  </p>
</div>
<div style="text-align:center">

</div>
<h3>
    <div *ngFor="let n of numeros" style="text-align:center">
      {{ n }}
    </div>
</h3>